<div class="bg-color">
  <section class="header-cls">
    <div class="title">
      Search An Article
    </div>
    <div>
      <input name="search" id="searcher" class="input-cls" placeholder="Search..." (keydown)="search()">
    </div>
    <p>This is an exercise to search an article by number or a keyword</p>

  </section>
  <section class="container">
    <app-article-page *ngFor="let article of articles" [article]="article"></app-article-page>
  </section>

  <app-loading *ngIf="articles.length == 0"></app-loading>
</div>